# Evaluate the refactored version of Naive Langchain agent

In [1]:
import mlflow
from answerers.langchain_answerer.langchain_naive_answerer import LangchainNaiveAnswerer

In [2]:
from dotenv import dotenv_values

config = {**dotenv_values("../configs/local.env")}

In [11]:
import pandas as pd

eval = pd.read_csv("../data/evaluation_dataset.csv")[["question", "answer_detailed"]]
eval.head()

,question,answer_detailed
0,How many tracks are there in the database?,"There are 3,503 tracks in the database."
1,What is the total revenue from all invoices?,Total revenue from all invoices is approximate...
2,What is the name of the most popular genre by ...,"The most popular genre is Rock with 1,297 tracks."
3,What is the highest amount ever billed to a si...,The highest invoice total is $25.86 for invoic...
4,What is the name of the track that has generat...,The track 'The Woman King' generated the most ...

In [13]:
unanswerable_set = pd.read_csv("../data/unanswerable_dataset.csv")

In [15]:
mixed_set = pd.concat([eval, unanswerable_set])

In [18]:
import mlflow
from mlflow.metrics.genai import answer_correctness, answer_relevance
from datetime import datetime

from sql_table_qa.evaluators.llm_evaluators import openai_correctness_evaluator, openai_relevance_evaluator

# Initialize MLflow client and set the experiment
mlflow.set_tracking_uri(config["MLFLOW_TRACKING_URI"])  # Set this to your MLflow tracking server URI
experiment_name = "Naive Langchain Prototype"
mlflow.set_experiment(experiment_name)
run_prefix = "refactored-langchain-test-w-unanswerable"

with mlflow.start_run(run_name=f"{run_prefix}-{datetime.now().strftime('%Y%m%d_%H%M%S')}"):
    model = LangchainNaiveAnswerer()
    answers = []
    for _, example in mixed_set.iterrows():
        _, _, ans = model.call(example["question"])
        answers.append(ans)
    mixed_set_w_ans = mixed_set.drop(columns=[c for c in eval.columns if c not in ("question", "answer_detailed")]).assign(model_answer=answers)
    
    mlflow.log_table(data=mixed_set_w_ans, artifact_file="answers.json")
    results = mlflow.evaluate(
        data = mixed_set_w_ans,
        targets = "answer_detailed",
        predictions = "model_answer",
        evaluators=None,
        extra_metrics=[openai_correctness_evaluator, openai_relevance_evaluator, mlflow.metrics.latency()],
        evaluator_config={'col_mapping': {"inputs": "question"}}
    )
    print(f"See aggregated evaluation results below:")
    display(results.metrics)

    # Evaluation result for each data record is available in `results.tables`.
    eval_table = results.tables["eval_results_table"]
    print(f"See evaluation table below:")
    display(eval_table)

/Users/pnguyen/.pyenv/versions/miniconda3-4.5.4/envs/sql-table-qa/lib/python3.11/site-packages/langchain_community/utilities/sql_database.py:375: SAWarning: Dialect sqlite+pysqlite does *not* support Decimal objects natively, and SQLAlchemy must convert from floating point - rounding errors and other issues may occur. Please consider storing Decimal numbers as strings or integers on this platform for lossless storage.
  sample_rows_result = connection.execute(command)  # type: ignore

invalid syntax (<unknown>, line 1)
invalid syntax (<unknown>, line 1)
invalid syntax (<unknown>, line 1)

/Users/pnguyen/.pyenv/versions/miniconda3-4.5.4/envs/sql-table-qa/lib/python3.11/site-packages/mlflow/data/digest_utils.py:26: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  string_columns = trimmed_df.columns[(df.applymap(type) == str).all(0)]
/Users/pnguyen/.pyenv/versions/miniconda3-4.5.4/envs/sql-table-qa/lib/python3.11/site-packages/mlflow/models/evaluation/base.py:414: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(_hash_array_like_element_as_bytes)
/Users/pnguyen/.pyenv/versions/miniconda3-4.5.4/envs/sql-table-qa/lib/python3.11/site-packages/mlflow/models/evaluation/base.py:414: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(_hash_array_like_element_as_bytes)
2024/04/27 00:33:25 INFO mlflow.models.evaluation.base: Evaluating the model with the default evaluator.
2024/04/27 00:33:25 WARNING mlflow.models.evaluation.default_evaluator: Setting the latency to 0 for all entries because the model is not provided.
2024/04/27 00:33:25 INFO mlflow.models.evaluation.default_evaluator: Testing metrics on first row...

  0%|          | 0/1 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

2024/04/27 00:33:27 INFO mlflow.models.evaluation.default_evaluator: Evaluating metrics: answer_correctness

  0%|          | 0/28 [00:00<?, ?it/s]

2024/04/27 00:33:31 INFO mlflow.models.evaluation.default_evaluator: Evaluating metrics: answer_relevance

  0%|          | 0/28 [00:00<?, ?it/s]

WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59123, Requested 1149. Please try again in 272ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 58885, Requested 1149. Please try again in 34ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}

See aggregated evaluation results below:

{'latency/mean': 0.0,
 'latency/variance': 0.0,
 'latency/p90': 0.0,
 'answer_correctness/v1/mean': 3.607142857142857,
 'answer_correctness/v1/variance': 2.5242346938775513,
 'answer_correctness/v1/p90': 5.0,
 'answer_relevance/v1/mean': 4.321428571428571,
 'answer_relevance/v1/variance': 1.4323979591836735,
 'answer_relevance/v1/p90': 5.0}

Downloading artifacts:   0%|          | 0/1 [00:00<?, ?it/s]

See evaluation table below:

,question,answer_detailed,model_answer,latency,answer_correctness/v1/score,answer_correctness/v1/justification,answer_relevance/v1/score,answer_relevance/v1/justification
0,How many tracks are there in the database?,"There are 3,503 tracks in the database.","There are 3,503 tracks in the database.",0,5,The output provided by the model is correct an...,5,The output directly answers the question by pr...
1,What is the total revenue from all invoices?,Total revenue from all invoices is approximate...,The total revenue from all invoices is $2328.60.,0,5,The output provided by the model is correct an...,5,The output directly provides the total revenue...
2,What is the name of the most popular genre by ...,"The most popular genre is Rock with 1,297 tracks.",The name of the most popular genre by number o...,0,5,The output provided by the model is correct an...,5,The output provides the exact name of the most...
3,What is the highest amount ever billed to a si...,The highest invoice total is $25.86 for invoic...,The highest amount ever billed to a single cus...,0,5,The output provided by the model is correct an...,5,The output directly addresses the question by ...
4,What is the name of the track that has generat...,The track 'The Woman King' generated the most ...,The name of the track that has generated the m...,0,5,The output provided by the model is correct an...,5,The output directly provides the name of the t...
5,Which customer has spent the most money in total?,"Helena Holý spent the most money, totaling app...",The customer who has spent the most money in t...,0,5,The output provided by the model is correct an...,5,The output directly addresses the input questi...
6,Which artist's tracks are the most purchased?,Iron Maiden's tracks were purchased 140 times.,The artist whose tracks are the most purchased...,0,5,The output is correct and demonstrates a high ...,5,The output directly addresses the input questi...
7,Which employee has generated the most revenue ...,Fynn Zimmermann generated the most revenue at ...,The employee who has generated the most revenu...,0,5,The output provided by the model is correct an...,5,The output directly addresses the input questi...
8,What is the name of the most popular playlist ...,"The 'Music' playlist contains 3,290 tracks.",The name of the most popular playlist by numbe...,0,4,The output correctly identifies the name of th...,5,The output provides the exact name of the most...
9,Which genre has generated the highest total re...,Rock generated the highest total revenue at ap...,The genre that has generated the highest total...,0,5,The output is correct and demonstrates a high ...,5,The output directly answers the question by st...
10,What is the duration in minutes of the longest...,The track 'Overdose' by AC/DC has a duration o...,The duration in minutes of the longest track r...,0,1,The output provided by the model is completely...,5,The output directly addresses the input questi...
11,Which employee's customers have the highest av...,Steve Johnson's customers have the highest ave...,The employee with the highest average invoice ...,0,5,The output correctly identifies Steve Johnson ...,5,The output directly addresses the input questi...
12,Who is the customer that has purchased tracks ...,Luis Rojas purchased tracks from 12 different ...,The customer with the highest number of differ...,0,5,The output provided by the model is correct an...,5,The output directly addresses the input questi...
13,On which day of the week does the store earn t...,"Wednesday is the most lucrative day, averaging...",The store earns the most revenue on average on...,0,3,The output addresses a couple of aspects of th...,5,The output directly addresses the question by ...
14,Which track appears in the most playlists?,The track 'Intoitus: Adorate Deum' appears in ...,The track with TrackId 3403 appears in the mos...,0,5,The output provided by the model is correct an...,5,The output directly addresses the question by ...
15,Which composer's tracks have generated the mos...,Tracks composed by Steve Harris generated reve...,The composer who has tracks generating the mos...,0,5,The output correctly identifies 'Steve Harris'...,5,The output directly addresses the input questi...
16,How satisfied are customers with their purchases?,"Unfortunately, there is no customer satisfacti...","On average, customers have spent approximately...",0,1,The output provided by the model is completely...,1,The output provided by the model does not ment...
17,What is the demographic profile of our customers?,The dataset lacks detailed demographic data ne...,The SQL query is trying to retrieve the total ...,0,3,The output addresses a couple of aspects of th...,3,The output provides a detailed SQL query to re...
18,Where do the products come from?,There is no supply chain information in the da...,The SQL query provided has a syntax error near...,0,3,The output addresses a couple of aspects of th...,3,The output partially addresses the question by...
19,How well are employees performing against thei...,Employee performance metrics and sales targets...,Employees are performing against their sales t...,0,3,The output addresses a couple of aspects of th...,4,The output provides a relevant list of employe...
20,Can we get a detailed financial report for las...,We are unable to provide a detailed financial ...,The SQL query provided is fetching the top 5 i...,0,3,The output addresses a couple of aspects of th...,3,The output partially addresses the input quest...
21,What has been the impact of recent marketing c...,"Unfortunately, the dataset does not include ma...","Based on the SQL query and result provided, it...",0,3,The output addresses a couple of aspects of th...,3,The output attempts to address the impact of r...
22,What are the production costs associated with ...,Production costs and other details related to ...,The production costs associated with each musi...,0,1,The output provided is completely incorrect an...,5,The output provides a detailed and complete an...
23,hat is the average income of our customers?,The dataset does not include customer income d...,The average income of our customers is $5.65.,0,1,The output provided by the model is completely...,3,The output mentions the average income of cust...
24,Which albums are most frequently purchased tog...,The dataset does not track bundled purchases o...,The albums that are most frequently purchased ...,0,5,The output provided by the model is correct an...,5,The output directly addresses the question by ...
25,How long do customers typically spend on our p...,"The dataset lacks user interaction data, such ...","On average, customers spend approximately 1993...",0,1,The output provided by the model is completely...,1,The output provided is completely irrelevant t...
26,What are the return rates for the different pr...,Return transactions are not tracked in the dat...,The return rates for the different products we...,0,1,The output provided by the model is completely...,5,The output provides a detailed and complete an...
27,Can you provide details on the effectiveness o...,The dataset does not include data on customer ...,"Based on the SQL query and result provided, th...",0,3,The output addresses a couple of aspects of th...,5,The output directly addresses the input questi...