In [1]:
import os
import sqlite3
from dotenv import dotenv_values
from langchain_openai import ChatOpenAI

config = {**dotenv_values("../configs/local.env")}

In [2]:
os.environ["OPENAI_API_KEY"] = config["OPENAI_API_KEY"]

In [3]:
llm = ChatOpenAI(model="gpt-3.5-turbo-0125")

In [4]:
from operator import itemgetter
from langchain.chains import create_sql_query_chain
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough
from langchain_community.utilities import SQLDatabase

from sql_table_qa.answerers.langchain_answerer.langchain_sql_connector import execute_sql

execute_query = execute_sql
db = SQLDatabase.from_uri("sqlite:///Chinook.db")
write_query = create_sql_query_chain(llm, db)

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.
    
    Question: {question}
    SQL Query: {query}
    SQL Result: {result}
    Answer: """
)

answer = answer_prompt | llm | StrOutputParser()

chain = (
    RunnablePassthrough.assign(query=write_query).assign(
        result=itemgetter("query") | execute_query
    )
    | answer
)

chain.invoke({"question": "How many employees are there"})

'The query is attempting to count the number of employees in the "employees" table, but it appears that the table does not exist in the database. This could be due to the table being named differently or not being created in the database. The query needs to be modified to reference the correct table where the employee information is stored.'

In [5]:
chain.invoke({"question": "Which customer has spent the most money in total?"})

'The SQL query is attempting to retrieve data from a table named "payments," but it seems that the table does not exist in the database. The error message "no such table: payments" indicates that the specified table is not found. \n\nTo address this issue, you will need to ensure that the "payments" table exists in the database and that the table name is spelled correctly. Additionally, make sure that the table is accessible and that the user running the query has the necessary permissions to select data from the table.'

In [6]:
RunnablePassthrough.assign(query=write_query).assign(result=itemgetter("query") | execute_query).invoke({"question": "Which customer has spent the most money in total?"})

{'question': 'Which customer has spent the most money in total?',
 'query': 'SELECT "customer_id", SUM("total") as total_spent\nFROM "orders"\nGROUP BY "customer_id"\nORDER BY total_spent DESC\nLIMIT 1;',
 'result': 'no such table: orders'}

In [7]:
chain.invoke({"question": "How many horses are there?"})

'There is no table named "horses" in the database, so it is not possible to determine the number of horses.'

In [8]:
chain.invoke({"question": "Can you tell me about the customers?"})

'The SQL query you provided is attempting to select specific columns from a table named "customers," but it seems that the table does not exist in the database. This is indicated by the error message "no such table: customers" in the SQL result. To provide information about the customers, you would first need to ensure that the "customers" table exists in the database before running the query.'

In [9]:
write_query

RunnableAssign(mapper={
  input: RunnableLambda(...),
  table_info: RunnableLambda(...)
})
| RunnableLambda(lambda x: {k: v for k, v in x.items() if k not in ('question', 'table_names_to_use')})
| PromptTemplate(input_variables=['input', 'table_info'], partial_variables={'top_k': '5'}, template='You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use date(\'now\') function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}')
| RunnableBinding(bound=ChatOpenAI(client=<openai.resources.chat.completions.Completions object at 0x10eeea590>, async_client=<openai.resources.chat.completions.AsyncCompletions object at 0x10ecec350>, model_name='gpt-3.5-turbo-0125', openai_api_key=SecretStr('**********'), openai_proxy=''), kwargs={'stop': ['\nSQLResult:']})
| StrOutputParser()
| RunnableLambda(_strip)

In [10]:
write_query.invoke({"question": "Which customer has spent the most money in total?"})

'SELECT "customerName", SUM("amount") AS total_spent\nFROM payments\nJOIN customers ON payments.customerNumber = customers.customerNumber\nGROUP BY "customerName"\nORDER BY total_spent DESC\nLIMIT 1;'

In [11]:
import pandas as pd

eval = pd.read_csv("../data/evaluation_dataset.csv")

In [12]:
eval

,question,sql_query,tables_needed,sql_query_soft_eval,answer_detailed,answer_brief,sql_detailed_answer
0,How many tracks are there in the database?,SELECT COUNT(*) FROM Track;,Track,SELECT COUNT(*) FROM Track;,"There are 3,503 tracks in the database.",3503,"(3503,)"
1,What is the total revenue from all invoices?,SELECT SUM(Total) FROM Invoice;,Invoice,SELECT SUM(Total) FROM Invoice;,Total revenue from all invoices is approximate...,2328.600000000004,"(2328.600000000004,)"
2,What is the name of the most popular genre by ...,SELECT Name FROM Genre WHERE GenreId = (SELECT...,"Genre, Track","SELECT Genre.Name, COUNT(*) AS TrackCount FROM...","The most popular genre is Rock with 1,297 tracks.",Rock,"('Rock', 1297)"
3,What is the highest amount ever billed to a si...,SELECT MAX(Total) FROM Invoice;,Invoice,"SELECT MAX(Total) AS HighestTotal, InvoiceId F...",The highest invoice total is $25.86 for invoic...,25.86,"(25.86, 404)"
4,What is the name of the track that has generat...,SELECT T.Name FROM Track T JOIN InvoiceLine IL...,"Track, InvoiceLine","SELECT Track.Name, SUM(InvoiceLine.UnitPrice *...",The track 'The Woman King' generated the most ...,The Woman King,"('The Woman King', 3.98)"
5,Which customer has spent the most money in total?,SELECT FirstName|| ' ' ||LastName FROM Custome...,"Customer, Invoice",SELECT Customer.FirstName || ' ' || Customer.L...,"Helena Holý spent the most money, totaling app...",Helena Holý,"('Helena Holý', 49.620000000000005)"
6,Which artist's tracks are the most purchased?,SELECT A.Name FROM Artist A JOIN Album Al ON A...,"Artist, Album, Track, InvoiceLine","SELECT Artist.Name, COUNT(*) AS TotalPurchases...",Iron Maiden's tracks were purchased 140 times.,Iron Maiden,"('Iron Maiden', 140)"
7,Which employee has generated the most revenue ...,SELECT E.FirstName|| ' ' ||E.LastName FROM Emp...,"Employee, Customer, Invoice",SELECT Customer.FirstName || ' ' || Customer.L...,Fynn Zimmermann generated the most revenue at ...,Fynn Zimmermann,"('Fynn Zimmermann', 833.0400000000016)"
8,What is the name of the most popular playlist ...,SELECT P.Name FROM Playlist P JOIN PlaylistTra...,"Playlist, PlaylistTrack","SELECT Playlist.Name, COUNT(*) AS TrackCount F...","The 'Music' playlist contains 3,290 tracks.",Music,"('Music', 3290)"
9,Which genre has generated the highest total re...,SELECT G.Name FROM Genre G JOIN Track T ON G.G...,"Genre, Track, InvoiceLine","SELECT Genre.Name, SUM(InvoiceLine.UnitPrice *...",Rock generated the highest total revenue at ap...,Rock,"('Rock', 826.6500000000061)"
10,What is the duration in minutes of the longest...,SELECT MAX(T.Milliseconds) / 60000 AS LongestT...,"Track, Album, Artist","SELECT Track.Name, MAX(Track.Milliseconds) / 6...",The track 'Overdose' by AC/DC has a duration o...,6,"('Overdose', 6)"
11,Which employee's customers have the highest av...,SELECT E.FirstName|| ' ' || E.LastName FROM Em...,"Employee, Customer, Invoice",SELECT Employee.FirstName || ' ' || Employee.L...,Steve Johnson's customers have the highest ave...,Steve Johnson,"('Steve Johnson', 5.715555555555564)"
12,Who is the customer that has purchased tracks ...,SELECT FirstName|| ' ' ||LastName FROM Custome...,"Customer, Invoice, InvoiceLine, Track, Genre",SELECT Customer.FirstName || ' ' || Customer.L...,Luis Rojas purchased tracks from 12 different ...,Luis Rojas,"('Luis Rojas', 12)"
13,On which day of the week does the store earn t...,"SELECT strftime('%w', InvoiceDate) AS DayOfWee...",Invoice,"SELECT strftime('%w', InvoiceDate) AS DayOfWee...","Wednesday is the most lucrative day, averaging...",4,"('4', 5.911525423728816)"
14,Which track appears in the most playlists?,SELECT T.Name FROM Track T JOIN PlaylistTrack ...,"Track, PlaylistTrack","SELECT Track.Name, COUNT(*) AS PlaylistCount F...",The track 'Intoitus: Adorate Deum' appears in ...,Intoitus: Adorate Deum,"('Intoitus: Adorate Deum', 5)"
15,Which composer's tracks have generated the mos...,SELECT Composer FROM Track JOIN InvoiceLine ON...,"Track, InvoiceLine","SELECT Composer, SUM(InvoiceLine.UnitPrice * I...",Tracks composed by Steve Harris generated reve...,Steve Harris,"('Steve Harris', 57.42000000000003)"

In [13]:
import mlflow
from mlflow.metrics.genai import answer_correctness, answer_relevance
from datetime import datetime

from sql_table_qa.evaluators.llm_evaluators import openai_correctness_evaluator, openai_relevance_evaluator

# Initialize MLflow client and set the experiment
mlflow.set_tracking_uri(config["MLFLOW_TRACKING_URI"])  # Set this to your MLflow tracking server URI
experiment_name = "Naive Langchain Prototype"
mlflow.set_experiment(experiment_name)
run_prefix = "notebook-initial-test"

with mlflow.start_run(run_name=f"{run_prefix}-{datetime.now().strftime('%Y%m%d_%H%M%S')}"):
    # Log parameters and results to MLflow
    model_load_success = False
    try:
        model_info = mlflow.langchain.log_model(chain, "naive_langchain_model")
        model = mlflow.pyfunc.load_model(model_info.model_uri)
        model_load_success = True
    except TypeError:
        # Some error with SQLAlchemy object being unpickle-able
        model = chain

    answers = []
    for _, example in eval.iterrows():
        if model_load_success:
            ans = model.predict({"question": example["question"]})
        else:
            ans = model.invoke({"question": example["question"]})
        answers.append(ans)
    eval_w_ans = eval.drop(columns=[c for c in eval.columns if c not in ("question", "answer_detailed")]).assign(model_answer=answers)
    
    mlflow.log_table(data=eval_w_ans, artifact_file="answers.json")
    results = mlflow.evaluate(
        data = eval_w_ans,
        targets = "answer_detailed",
        predictions = "model_answer",
        evaluators=None,
        extra_metrics=[openai_correctness_evaluator, openai_relevance_evaluator, mlflow.metrics.latency()],
        evaluator_config={'col_mapping': {"inputs": "question"}}
    )
    print(f"See aggregated evaluation results below:")
    display(results.metrics)

    # Evaluation result for each data record is available in `results.tables`.
    eval_table = results.tables["eval_results_table"]
    print(f"See evaluation table below:")
    display(eval_table)

/Users/pnguyen/.pyenv/versions/miniconda3-4.5.4/envs/sql-table-qa/lib/python3.11/site-packages/mlflow/data/digest_utils.py:26: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  string_columns = trimmed_df.columns[(df.applymap(type) == str).all(0)]
/Users/pnguyen/.pyenv/versions/miniconda3-4.5.4/envs/sql-table-qa/lib/python3.11/site-packages/mlflow/models/evaluation/base.py:414: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(_hash_array_like_element_as_bytes)
/Users/pnguyen/.pyenv/versions/miniconda3-4.5.4/envs/sql-table-qa/lib/python3.11/site-packages/mlflow/models/evaluation/base.py:414: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = data.applymap(_hash_array_like_element_as_bytes)
2024/04/29 16:20:22 INFO mlflow.models.evaluation.base: Evaluating the model with the default evaluator.
2024/04/29 16:20:22 WARNING mlflow.models.evaluation.default_evaluator: Setting the latency to 0 for all entries because the model is not provided.
2024/04/29 16:20:22 INFO mlflow.models.evaluation.default_evaluator: Testing metrics on first row...

  0%|          | 0/1 [00:00<?, ?it/s]

  0%|          | 0/1 [00:00<?, ?it/s]

2024/04/29 16:20:27 INFO mlflow.models.evaluation.default_evaluator: Evaluating metrics: answer_correctness

  0%|          | 0/16 [00:00<?, ?it/s]

WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59848, Requested 1516. Please try again in 1.364s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59836, Requested 1603. Please try again in 1.439s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59823, Requested 1479. Please try again in 1.302s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59837, Requested 1537. Please try again in 1.374s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59748, Requested 1559. Please try again in 1.307s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59668, Requested 1516. Please try again in 1.184s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59608, Requested 1603. Please try again in 1.211s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59619, Requested 1537. Please try again in 1.156s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59606, Requested 1479. Please try again in 1.085s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59569, Requested 1559. Please try again in 1.128s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 58633, Requested 1548. Please try again in 181ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59595, Requested 1548. Please try again in 1.143s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59431, Requested 1530. Please try again in 960ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 58837, Requested 1530. Please try again in 367ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 58814, Requested 1605. Please try again in 419ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 58665, Requested 1605. Please try again in 270ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59471, Requested 1603. Please try again in 1.074s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59463, Requested 1559. Please try again in 1.022s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59314, Requested 1603. Please try again in 917ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59299, Requested 1559. Please try again in 858ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59574, Requested 1605. Please try again in 1.179s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59337, Requested 1605. Please try again in 941ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 58601, Requested 1603. Please try again in 204ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 58450, Requested 1603. Please try again in 53ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
2024/04/29 16:21:14 INFO mlflow.models.evaluation.default_evaluator: Evaluating metrics: answer_relevance

  0%|          | 0/16 [00:00<?, ?it/s]

WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59827, Requested 1118. Please try again in 945ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59827, Requested 1099. Please try again in 926ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59824, Requested 1166. Please try again in 990ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59825, Requested 1176. Please try again in 1.001s. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59817, Requested 1118. Please try again in 935ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59799, Requested 1168. Please try again in 967ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59551, Requested 1118. Please try again in 669ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59551, Requested 1099. Please try again in 650ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59543, Requested 1176. Please try again in 719ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59544, Requested 1166. Please try again in 710ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59522, Requested 1168. Please try again in 690ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59518, Requested 1118. Please try again in 636ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59277, Requested 1074. Please try again in 351ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59220, Requested 1087. Please try again in 307ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59115, Requested 1074. Please try again in 189ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}
WARNING:root:Request #0 failed with error {'message': 'Rate limit reached for gpt-3.5-turbo-0125 in organization org-OVIdrRP0ri2VAEyIvqqwLA6M on tokens per min (TPM): Limit 60000, Used 59054, Requested 1087. Please try again in 141ms. Visit https://platform.openai.com/account/rate-limits to learn more.', 'type': 'tokens', 'param': None, 'code': 'rate_limit_exceeded'}

See aggregated evaluation results below:

{'latency/mean': 0.0,
 'latency/variance': 0.0,
 'latency/p90': 0.0,
 'answer_correctness/v1/mean': 2.375,
 'answer_correctness/v1/variance': 2.359375,
 'answer_correctness/v1/p90': 5.0,
 'answer_relevance/v1/mean': 1.8125,
 'answer_relevance/v1/variance': 2.40234375,
 'answer_relevance/v1/p90': 5.0}

Downloading artifacts:   0%|          | 0/1 [00:00<?, ?it/s]

See evaluation table below:

,question,answer_detailed,model_answer,latency,answer_correctness/v1/score,answer_correctness/v1/justification,answer_relevance/v1/score,answer_relevance/v1/justification
0,How many tracks are there in the database?,"There are 3,503 tracks in the database.","The error message ""no such table: tracks"" indi...",0,3,The output addresses a couple of aspects of th...,1,The output provided does not address the quest...
1,What is the total revenue from all invoices?,Total revenue from all invoices is approximate...,The SQL query is trying to retrieve the total ...,0,1,The output provided by the model is completely...,1,The output provided by the model does not addr...
2,What is the name of the most popular genre by ...,"The most popular genre is Rock with 1,297 tracks.","The error ""no such table: genres"" indicates th...",0,1,The output provided by the model is completely...,1,The output provided by the model is completely...
3,What is the highest amount ever billed to a si...,The highest invoice total is $25.86 for invoic...,The SQL query could not be executed because th...,0,3,The output addresses a couple of aspects of th...,1,The output provided by the model does not addr...
4,What is the name of the track that has generat...,The track 'The Woman King' generated the most ...,The SQL query you provided contains an error r...,0,5,The output provided by the model is correct an...,1,The output provided by the model does not ment...
5,Which customer has spent the most money in total?,"Helena Holý spent the most money, totaling app...",The SQL query is attempting to find the custom...,0,3,The output addresses a couple of aspects of th...,2,The output provides information about the SQL ...
6,Which artist's tracks are the most purchased?,Iron Maiden's tracks were purchased 140 times.,"The error ""ambiguous column name: Name"" in the...",0,1,The output provided is completely unrelated to...,1,The output provided by the model is completely...
7,Which employee has generated the most revenue ...,Fynn Zimmermann generated the most revenue at ...,The SQL query provided is attempting to retrie...,0,1,The output provided is completely incorrect an...,1,The output provided does not mention anything ...
8,What is the name of the most popular playlist ...,"The 'Music' playlist contains 3,290 tracks.","The error message ""ambiguous column name: Play...",0,1,The output provided by the model is completely...,1,The output provided is completely irrelevant t...
9,Which genre has generated the highest total re...,Rock generated the highest total revenue at ap...,The SQL query is trying to query data from a t...,0,3,The output addresses a couple of aspects of th...,1,The output provided does not address the quest...
10,What is the duration in minutes of the longest...,The track 'Overdose' by AC/DC has a duration o...,The SQL query could not be executed because th...,0,1,The output provided by the model is completely...,1,The output provided by the model does not addr...
11,Which employee's customers have the highest av...,Steve Johnson's customers have the highest ave...,The SQL query is attempting to retrieve the em...,0,1,The output provided by the model is completely...,1,The output provided by the model does not addr...
12,Who is the customer that has purchased tracks ...,Luis Rojas purchased tracks from 12 different ...,The customer who has purchased tracks from the...,0,5,The output correctly identifies the customer w...,5,The output directly addresses the input questi...
13,On which day of the week does the store earn t...,"Wednesday is the most lucrative day, averaging...","The error message ""no such table: Orders"" indi...",0,1,The output provided by the model is completely...,1,The output provided by the model does not addr...
14,Which track appears in the most playlists?,The track 'Intoitus: Adorate Deum' appears in ...,"The error near ""SQLQuery"" indicates that the S...",0,5,The output provided by the model is correct an...,5,The output provides a detailed and relevant SQ...
15,Which composer's tracks have generated the mos...,Tracks composed by Steve Harris generated reve...,The composer with the ComposerId 2328 has gene...,0,3,The output addresses some aspects of the input...,5,The output directly addresses the input questi...