In [2]:
import pandas as pd
from sql_table_qa.dbutils.database_connector import DatabaseConnector

In [3]:
DatabaseConnector.create_open_ai_assistant_tools()

[{'type': 'function',
  'function': {'name': 'create_open_ai_assistant_tools',
   'description': 'Extracts and returns information about all public methods of this class as a list\nof dictionaries specifyind OpenAI Assistant tools.\nin this format:\n{\n    "tool_name": "execute_sql",\n    "description": "Executes an SQL statement on the Chinook database and get back the results.",\n    "schema": {\n        arg: arg type\n    }\n}',
   'parameters': {'type': 'object', 'properties': {}}}},
 {'type': 'function',
  'function': {'name': 'execute_sql',
   'description': 'Executes an SQL statement on the Chinook database and get back the results.\n\nArgs:\nsql (str): The SQL statement to execute.\n\nReturns:\nlist: A list of tuples representing the result of the SQL query.',
   'parameters': {'type': 'object',
    'properties': {'sql': {'type': 'str',
      'description': "str(object='') -> str\nstr(bytes_or_buffer[, encoding[, errors]]) -> str\n\nCreate a new string object from the given object. If encoding or\nerrors is specified, then the object must expose a data buffer\nthat will be decoded using the given encoding and error handler.\nOtherwise, returns the result of object.__str__() (if defined)\nor repr(object).\nencoding defaults to sys.getdefaultencoding().\nerrors defaults to 'strict'."}}}}},
 {'type': 'function',
  'function': {'name': 'get_methods_info',
   'description': 'Extracts and returns information about all public methods of this class as a Python dict.',
   'parameters': {'type': 'object', 'properties': {}}}},
 {'type': 'function',
  'function': {'name': 'get_methods_info_string',
   'description': 'Extracts and returns information about all public methods of this class as a JSON string.',
   'parameters': {'type': 'object', 'properties': {}}}},
 {'type': 'function',
  'function': {'name': 'get_table_names_and_description',
   'description': 'Returns the name and description of all tables in the Chinook dataset.\n\nReturns:\nlist: A list of table names and descriptions tuples.',
   'parameters': {'type': 'object', 'properties': {}}}},
 {'type': 'function',
  'function': {'name': 'get_table_schema',
   'description': 'Returns the schema of a specific table in the Chinook dataset.\n\nArgs:\ntable_name (str): The name of the table whose schema is to be returned.\n\nReturns:\ndict: A dictionary containing column names and data types of the table.',
   'parameters': {'type': 'object',
    'properties': {'table_name': {'type': 'str',
      'description': "str(object='') -> str\nstr(bytes_or_buffer[, encoding[, errors]]) -> str\n\nCreate a new string object from the given object. If encoding or\nerrors is specified, then the object must expose a data buffer\nthat will be decoded using the given encoding and error handler.\nOtherwise, returns the result of object.__str__() (if defined)\nor repr(object).\nencoding defaults to sys.getdefaultencoding().\nerrors defaults to 'strict'."}}}}},
 {'type': 'function',
  'function': {'name': 'validate_sql',
   'description': 'Validates an SQL statement.\n\nArgs:\nsql (str): The SQL statement to validate.\n\nReturns:\nbool: True if the SQL statement is valid, False otherwise.',
   'parameters': {'type': 'object',
    'properties': {'sql': {'type': 'str',
      'description': "str(object='') -> str\nstr(bytes_or_buffer[, encoding[, errors]]) -> str\n\nCreate a new string object from the given object. If encoding or\nerrors is specified, then the object must expose a data buffer\nthat will be decoded using the given encoding and error handler.\nOtherwise, returns the result of object.__str__() (if defined)\nor repr(object).\nencoding defaults to sys.getdefaultencoding().\nerrors defaults to 'strict'."}}}}}]

In [2]:
conn = DatabaseConnector()

In [3]:
eval = pd.read_csv("../data/evaluation_dataset.csv")

In [4]:
for sql_query in eval['sql_query'].values:
    print(conn.execute_sql(sql_query))

[(3503,)]
[(2328.600000000004,)]
[('Rock',)]
[(25.86,)]
[('The Woman King',)]
[('Helena Hol√Ω',)]
[('Iron Maiden',)]
[('Jane Peacock',)]
[('Music',)]
[('Rock',)]
[(6,)]
[('Steve Johnson',)]
[('Luis Rojas',)]
[('4', 5.911525423728816)]
[('Intoitus: Adorate Deum',)]
[('Steve Harris',)]

In [5]:
for sql_query in eval['sql_query'].values:
    print(conn.validate_sql(sql_query))

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

In [6]:
conn.get_table_names_and_description()

[('Album', 'Stores album related data'),
 ('Artist', 'Stores artist related data'),
 ('Customer', 'Stores customer related data'),
 ('Employee', 'Stores employee related data'),
 ('Genre', 'Stores different musical genre types'),
 ('MediaType', 'Stores types of media formats available'),
 ('Playlist', 'Stores playlist data'),
 ('PlaylistTrack', 'Associative table linking playlists to tracks'),
 ('Track', 'Stores detailed information about each music track'),
 ('Invoice', 'Stores invoice data for customer purchases'),
 ('InvoiceLine', 'Stores line items of an invoice')]

In [7]:
conn.get_table_schema('Album')

{'desc': 'Stores album related data',
 'columns': {'AlbumId': {'dtype': 'INTEGER',
   'desc': 'Primary key of the album table.'},
  'Title': {'dtype': 'NVARCHAR(160)', 'desc': 'Title of the album.'},
  'ArtistId': {'dtype': 'INTEGER',
   'desc': 'Foreign key that references the Artist table.'}}}